@colorWhite:#fff;
@colorBlue:#00a8ff;
@bgPath:"../../../static/images/";
@size16:16px;
//辅助导航
.navbar{
    border-radius:0px;
    margin-bottom:0px;
}
.navbar-inverse{
    .navbar-brand{
        color: @colorWhite;
        font-size: 26px;
        
        span{
            font-size: 18px;
            margin-right: 10px;
        }
    }
    
    .navbar-nav{
        &>li{
            &>a{
                color:@colorWhite;
                
                &:hover{
                    color: @colorBlue;
                    text-decoration: underline;
                }
            }
        }
    }
}

//主导航
.navbar-default{

    .navbar-nav{
        &>li{
            &>a{
                line-height: 40px;
                min-width: 80px;
                font-size: @size16;
                text-align: center;
                
                &:hover{
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

//三大特色
#feature{
    .row{
        
        div{
            background: url("@{bgPath}feature01.png") no-repeat left center;
            min-height: 65px;
            padding-left: 80px;
            
            h4{
              font-weight: bold;  
            }
        }
        
        div:nth-of-type(2){
           background-image: url("@{bgPath}feature02.png"); 
        }
        
        div:nth-of-type(3){
           background-image: url("@{bgPath}feature03.png"); 
        }
    }
}

//投资列表
#invest,#article{
    padding-right: 0px;
    padding-left: 0px;
}
//公共的panel
.panel{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.panel-default{
    border: none;
    &>.panel-heading{
        background-color: transparent;
        padding: 0px;
        
        display: flex;
        justify-content: space-between;
        
        h1{
            font-size: 24px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            color: @colorBlue;
            font-weight: bold;
            border-bottom: 3px solid @colorBlue;
        }
        
        p{
            margin: 0px;
            padding: 0px;
            line-height: 60px;
        }
    }
    
    .panel-body{
        
        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
            
            li{
                line-height: 26px;
                border-bottom: dotted 1px #ccc; 
                a{
                    color: #555555;
                    &:hover{
                        color: @colorBlue;
                    }
                }  
            }
        }
        .el-table{
            thead{
                th{
                   color:#999999;
               }
            }
            tbody{
               tr{
                  td{
                       font-size: @size16;
                       vertical-align: middle; 
                  }   
               }
            }   
        }
    }
}
.el-footer{
    background-color: #f8f8f8;
    margin: 20px 0px 20px 0px;
    padding-top: 30px;
    .weobo{
        p{
           padding-bottom: 15px;
           font-size: 14px; 
           padding-left: 10px;
        }
    }
    img{
        max-width: 100%;
    }
}
    
