//引入header样式
@import url("header.less");
//个人中心列表
#pstemp{
    .col-xs-9{
        padding: 15px;
        margin: 30px;
        border: ;
        box-sizing: border-box;
    }
    .page-header{
        display: flex;
        img{
            width: 72px;
            height: 72px;
        }
    }
}
//引入footer样式
@import url("footer.less");