//引入header样式
@import url("header.less");
//个人中心列表
body{
    background: red;
}
#pstemp{
    margin-top: 10px;
    #rightPart.col-xs-9{
        color: #red;
//      .panel-body{
//          padding: 30px;
//          .row:nth-child(1){
//              img{
//                  width: 200px;
//              }
//          }
//          .row:nth-child(2){
//              font-size: 16px;
//              padding: 20px 0px;
//              margin: 10px 0px;
//              border-top: solid 1px #F0F0F0;
//          }
//          
//          .row:nth-child(4){
//              div{
//                  margin: 10px 0px;
//                  
//                  .authIcon{
//                      background: url("@{bgPath}shiming.png") no-repeat left center;
//                      padding-left: 65px;
//                  }
//              }
//          }
//      }  
    }
}
//引入footer样式
@import url("footer.less");