//引入header样式 
@import url("header.less");
#pstemp{
    margin-top: 10px;
    row{
        .panel-body{
            ul{
                list-style: none;
                li{
                    line-height: 26px;
                    a{
                        &:focus{
                            font-weight: bold;
                            color: orangered;
                        }
                    }
                }
            }
        }
    }
}
//引入footer样式 
@import url("footer.less");